body.login-body {
    background-color: rgba(244, 243, 250, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  .login-title {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }